*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
body{
  background: #e9eaea;
  user-select: none;
}
a{
  text-decoration: none;
  color: #ffffff;
}

nav{
  height: 60px;
  width: 100%;
  display: flex;
  background-color: #1565c0;
  align-items: center;
}
nav li{
  padding-left: 20px;
  font-size: 24px;
  color: #fff;
}
.container{
  width: 530px;
  margin: 150px auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.signup,
.login{
  width: 50%;
  background: #fff;
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.signup-form,
.login-form{
  background: #fff;
  padding: 40px;
  clear: both;
  width: 100%;
  display:flex;
  flex-direction:column;
  box-sizing: border-box;
/*   height: 500px; */
}
.form_num{
  width: 60%;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid #e9eaea;
  margin:5px;
  margin-bottom: 15px;
  color: #3e3e40;
  font-size: 14px;
  outline: none;
  transform: all 0.5s ease;
}
.form_sm{
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  margin:10px;
  margin-bottom: 15px;
  border: 2px solid #e9eaea;
  color: #3e3e40;
  font-size: 14px;
  outline: none;
  transform: all 0.5s ease;
}
.form_lg{
  width: 97%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin:10px;
  border: 2px solid #e9eaea;
  color: #3e3e40;
  font-size: 14px;
  outline: none;
  transform: all 0.5s ease;
}

.btn{
  width: 100%;
  background: #1565c0;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 30px;
}

span a{
  text-decoration: none;
  color: #000;
}
.field_sm{
  width: 50%;
  margin:5px;
  border:1px solid #34b3a0;
  margin-bottom: 10px;
}
.field_lg{
  width: 100%;
  border:1px solid #34b3a0;
  margin-bottom: 10px;
}
.legend{
  padding-left:10px;
  display: none;
}
.legend_show{
  padding-left:10px;
  display: block;
}
.double{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}