.event-nav {
	background-color: #1565C0 !important;
}

.event-center-card {
  
}
.event-center-card-image {
  height: 150px;
  width: 100%;
  margin: auto;
  background-image: url('http://www.convergencedesignllc.com/uploads/galleries/slideshow/EEC%20ext_3666_sml.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.event-center-card-body {
  
}